In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB

In [5]:
df = pd.read_csv("E:\DSDBA\iris.csv")

In [6]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
df.shape

(150, 5)

In [8]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
X = df.drop('species', axis=1)

In [16]:
df['species'].replace(['setosa', 'virginica', 'versicolor'], [1,2,3], inplace=True)

In [17]:
Y = df['species']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [20]:
modelGaussian = GaussianNB()

In [21]:
print(X_train)

    sepal_length  sepal_width  petal_length  petal_width
42           4.4          3.2           1.3          0.2
36           5.5          3.5           1.3          0.2
46           5.1          3.8           1.6          0.2
27           5.2          3.5           1.5          0.2
4            5.0          3.6           1.4          0.2
..           ...          ...           ...          ...
84           5.4          3.0           4.5          1.5
70           5.9          3.2           4.8          1.8
2            4.7          3.2           1.3          0.2
55           5.7          2.8           4.5          1.3
96           5.7          2.9           4.2          1.3

[120 rows x 4 columns]

In [23]:
modelGaussian.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
y_predict = modelGaussian.predict(X_test)

In [25]:
conf_matrix = confusion_matrix(y_test, y_predict)

In [26]:
conf_matrix

array([[11,  0,  0],
       [ 0,  9,  1],
       [ 0,  0,  9]], dtype=int64)

In [27]:
cr = classification_report(y_test, y_predict)

In [28]:
cr

'              precision    recall  f1-score   support\n\n           1       1.00      1.00      1.00        11\n           2       1.00      0.90      0.95        10\n           3       0.90      1.00      0.95         9\n\n    accuracy                           0.97        30\n   macro avg       0.97      0.97      0.96        30\nweighted avg       0.97      0.97      0.97        30\n'

In [29]:
print(cr)

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      0.90      0.95        10
           3       0.90      1.00      0.95         9

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.96        30
weighted avg       0.97      0.97      0.97        30

In [30]:
precision1 = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[1][0]+conf_matrix[2][0])

In [31]:
print(precision1)

1.0

In [32]:
precision2 = conf_matrix[1][1]/(conf_matrix[0][1]+conf_matrix[1][1]+conf_matrix[2][1])

In [33]:
print(precision2)

1.0

In [34]:
precision3 = conf_matrix[2][2]/(conf_matrix[0][2]+conf_matrix[1][2]+conf_matrix[2][2])

In [35]:
print(precision3)

0.9

In [36]:
recall1 = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[0][1]+conf_matrix[0][2])

In [37]:
print(recall1)

1.0

In [38]:
recall2 = conf_matrix[1][1]/(conf_matrix[1][0]+conf_matrix[1][1]+conf_matrix[1][2])

In [39]:
print(recall2)

0.9

In [40]:
recall3 = conf_matrix[2][2]/(conf_matrix[2][0]+conf_matrix[2][1]+conf_matrix[2][2])

In [41]:
print(recall3)

1.0

In [42]:
acc = accuracy_score(y_test, y_predict)*100
print(acc)

96.66666666666667