# DSBDA Assignment 05

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("E:\DSDBA\Social_Network_Ads.csv")

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.shape

(400, 5)

In [5]:
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [6]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

# By replacing Gender values with integer values

In [7]:
df['Gender'].replace(['Female','Male'],[0,1],inplace=True)

In [8]:
X = df.drop('Purchased', axis=1)

In [9]:
y = df['Purchased']

In [10]:
X = df.drop('Purchased', axis=1)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
print(X_train)

      User ID  Gender  Age  EstimatedSalary
382  15715622       0   44           139000
145  15746422       0   24            89000
195  15667742       1   34            43000
180  15685576       1   26            16000
178  15584114       1   24            23000
..        ...     ...  ...              ...
55   15649136       0   24            55000
350  15800515       0   38           113000
338  15810800       0   38            55000
137  15687491       1   30           107000
10   15570769       0   26            80000

[320 rows x 4 columns]

In [13]:
print(X_test)

      User ID  Gender  Age  EstimatedSalary
9    15727311       0   35            65000
395  15691863       0   46            41000
45   15639277       1   23            20000
122  15724423       0   40            75000
323  15619465       0   48            30000
..        ...     ...  ...              ...
340  15588080       0   53           104000
294  15566689       0   35            57000
42   15772798       1   35           108000
270  15680752       0   43           133000
203  15809347       0   41            71000

[80 rows x 4 columns]

In [14]:
print(y_test.shape)

(80,)

In [15]:
df.isnull().count()

User ID            400
Gender             400
Age                400
EstimatedSalary    400
Purchased          400
dtype: int64

In [16]:
log_reg = LogisticRegression(random_state=0)

print(9)

In [17]:
log_reg.fit(X_train, y_train)

C:\Users\Rakesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
y_predict = log_reg.predict(X_test)

In [19]:
conf_matrix = confusion_matrix(y_test, y_predict)

In [20]:
conf_matrix

array([[51,  4],
       [12, 13]], dtype=int64)

In [21]:
precision = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[0][1])

In [22]:
print(precision)

0.9272727272727272

In [23]:
recall = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[1][0])

In [24]:
print(recall)

0.8095238095238095

# By dropping Gender from independent values

In [25]:
X = df.drop(['Purchased', 'Gender'], axis=1)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
log_reg = LogisticRegression(random_state=0)

In [28]:
log_reg.fit(X_train, y_train)

C:\Users\Rakesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
y_predict = log_reg.predict(X_test)

In [30]:
conf_matrix = confusion_matrix(y_test, y_predict)

In [31]:
print(conf_matrix)

[[47  4]
 [13 16]]

In [32]:
precision = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[0][1])

In [33]:
recall = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[1][0])

In [34]:
print(precision)

0.9215686274509803

In [35]:
print(recall)

0.7833333333333333

In [40]:
acc = accuracy_score(y_test, y_predict)*100

In [41]:
print(acc)

78.75

In [43]:
cr = classification_report(y_test, y_predict)

In [44]:
print(cr)

              precision    recall  f1-score   support

           0       0.78      0.92      0.85        51
           1       0.80      0.55      0.65        29

    accuracy                           0.79        80
   macro avg       0.79      0.74      0.75        80
weighted avg       0.79      0.79      0.78        80

In [46]:
print(y_predict)

[0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0
 1 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1
 0 1 0 0 0 0]

# Using min max normalisation

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
scaler = MinMaxScaler()

In [50]:
x = df[['Age', 'EstimatedSalary']]

In [51]:
x_scaled = scaler.fit_transform(x)

In [52]:
X_train, X_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2)

In [53]:
log_reg = LogisticRegression(random_state=0)

In [54]:
log_reg.fit(X_train, y_train)

C:\Users\Rakesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
y_predict = log_reg.predict(X_test)

In [63]:
conf_matrix = confusion_matrix(y_test, y_predict)

In [57]:
precision = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[0][1])

In [58]:
recall = conf_matrix[0][0]/(conf_matrix[0][0]+conf_matrix[1][0])

In [59]:
print(precision)
print(recall)

0.96
0.7868852459016393

In [60]:
acc = accuracy_score(y_test, y_predict)*100
print(acc)

81.25

In [61]:
cr = classification_report(y_test, y_predict)

In [62]:
print(cr)

              precision    recall  f1-score   support

           0       0.79      0.96      0.86        50
           1       0.89      0.57      0.69        30

    accuracy                           0.81        80
   macro avg       0.84      0.76      0.78        80
weighted avg       0.83      0.81      0.80        80